.balance_sheet_section{
    float: left;
    width: 100%;
   padding: 15px 10px;
    background-color: #fff;
    }
    .balance_sheet_section_head{
        float: left;
        width: 100%;
        padding-bottom: 15px;
    }
    .balance_sheet_section_head h3{
        font-size: 14px;
margin: 0px;
width: 100%;
font-weight: normal;
color: #000;
text-transform: uppercase;
text-align: center;
    }
.balance_sheet_boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px 0px;
   width: 100%;
   border: 1px solid black;
}

    .balance_sheet_report_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .balance_sheet_report_detail{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
    }
    .balance_sheet_report_detail_head{
        box-shadow: 0 0 3px #e5e5e5;
        background-color: rgba(0,0,0,.05);
    }
    
    .balance_sheet_report_detail span{
        font-size: 14px;
        color: rgb(51, 51, 51);
        font-weight: normal;
        text-transform: capitalize;
    }
.balance_sheet_report_box:first-child{
    border-right:1px solid black ;
    z-index: 1;
}
.balance_sheet_report_detail_border{
    border-bottom: 1px solid black;
}
.balance_sheet_report_main_point{
font-weight: 500 !important;
}
@media (max-width: 767px) {
    .balance_sheet_report_box:first-child {
        border: none;
    }
    .balance_sheet_boxes {
        display: grid;
        grid-template-columns: 1fr;
       border-bottom: none;
       border-top: none;
    }

    .balance_sheet_report_detail_head {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}

    @media (max-width: 320px) {
        .balance_sheet_report_detail span {
            font-size: 12px;
        }    
    
    }