.home_dashboard_section{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
.home_dashboard_card_one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto ;
    grid-template-areas: ". . .";
    gap: 15px 20px;
    margin-bottom: 30px;
}
.home_dashboard_card_one_detail{
/* background-color: #fff; */
padding: 15px 10px;
background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
border-bottom: 1px solid transparent;
box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
/* box-shadow: 1px 1px 4px #888; */
}
.dashboard_card_one_box{
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
color: #000;
padding-bottom: 30px;
gap: 10px 20px;
}
.dashboard_card_one_detail h4{
font-size: 16px;
margin: 0px;
text-transform: uppercase;
color: #fff;
}
.dashboard_card_one_pricing{
    display: flex;
    width: 100%;
    justify-self:center;
    align-items: center;
    flex-direction: column;
    gap: 8px 0px;
}
.dashboard_card_one_pricing h3{
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    color: #fff;
}
.dashboard_card_one_pricing span{
    color: #fff;
    font-size: 14px;
}
.dashboard_card_one_selector select{
padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
    width: 180px;
    font-size: 14px;
   
}





.home_dashboard_card_two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto ;
    grid-template-areas: ". .";
    gap: 15px 20px;
}
.home_dashboard_card_two_detail{
/* background-color: #fff; */
padding: 15px 10px;
background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
border-bottom: 1px solid transparent;
box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.dashboard_card_two_pricing{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px 0px;
    padding-bottom: 30px;
}
.dashboard_card_two_pricing h3{
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    color: #fff;
}
.dashboard_card_two_pricing span{
    color: #fff;
    font-size: 14px;
}
.receive_amount_box_detail{
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    align-items: center;
}
.receive_amount_box{
    display: flex;
    justify-content: space-between;
    gap: 10px 0px;
    width: 100%;
    align-items: center;
}
.receive_amount_box span{
    color: #ffff;
    font-size: 14px
}
.receive_amount_box .receiveable_amount{
    color: #fff !important;
    font-size: 14px
}
.receive_amount_box .payable_amount{
    color: #fff !important;
    font-size: 14px
}

@media (min-width:1025px) and (max-width:1150px){
    .dashboard_card_one_box {
       
        padding-bottom: 15px;
      
        flex-direction: column;

    }


}
@media (min-width:768px) and (max-width:1024px){
    .dashboard_card_one_box {
       
        padding-bottom: 15px;
        flex-direction: column;
    }
}
@media (max-width:767px){
    
    .dashboard_card_one_box {
       
        padding-bottom: 15px;
        flex-direction: column;
    }
    .home_dashboard_card_one {
        grid-template-columns: 1fr;
        grid-template-areas: "."; 
    }
}
@media (max-width:540px){
.home_dashboard_card_two {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: ".";
}
}