.body {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.tax_responsive_nav_bar.tax_responsive_bar {
  transform: translate(-100%);
}

.tax_body_wrapper {
  transition: all 0.2s ease-in-out;
  height: 100vh;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 70px;
  padding-bottom: 10px;
}

.tax_sidebar_section {
  background-color: #34444c;
  border-right: 1px solid transparent;
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: fixed;
  top: 0px;
  transition: all 0.2s ease-in-out 0s;
  width: 230px;
  z-index: 1001;
  transform: translate(0%);
  height: 100vh;
}

.tax_sidebar_parent {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out 0s;
  padding: 35px 0px;
  padding-top: 35px;
  padding-top: 60px;
}

.tax_sidebar_heading_heading {
  display: flex;
  width: 100%;
  padding: 30px 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.tax_sidebar_heading_heading h3 {
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  margin: 0px;
  font-weight: normal;
  letter-spacing: 2px;
}
.tax_sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  height: calc(100vh - 11rem);
  overflow: auto;
}
/* Works on Firefox */
.tax_sidebar_list {
  scrollbar-width: thin;
  scrollbar-color: #d6dee1 #fff;
}
/* Works on Chrome, Edge, and Safari */
.tax_sidebar_list::-webkit-scrollbar {
  width: 8px;
}

.tax_sidebar_list::-webkit-scrollbar-track {
  background: #fff;
  opacity: 0.8;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  border: none;
}
.tax_sidebar_list::-webkit-scrollbar-thumb {
  background: #d6dee1;
  border: 1px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}

.tax_sidebar_list a {
  color: #bfbebe;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
}
.tax_sidebar_list a:hover {
  text-decoration: none;
  color: #bfbebe;
}
.tax_sidebar_list a.active {
  background-color: #fff;
  padding: 15px 10px;
  color: #242424;
  border-radius: 4px 0px 0px 4px;
  font-weight: bold;
}

/* tax_section_screen start */
.tax_section_screen {
  float: left;
  width: 100%;
}
.tax_screen_container {
  max-width: 800px;
  margin: 0 auto;
}
.tax_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". .";
  gap: 20px 30px;
}
.tax_rates {
  float: left;
  width: 100%;
}
.tax_rate_header {
  display: flex;
  width: 100%;
  border-bottom: 2px solid gray;
  gap: 0px 15px;
  align-items: center;
  padding: 15px 0px;
}
.tax_rate_header h5 {
  color: #242424;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0px;
}
.tax_rate_header i {
  font-size: 24px;
  color: gray;
  border: 4px solid gray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.tax_group_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px 0px;
  padding: 20px 0px;
  border-bottom: 1px solid gray;
}
.tax_group_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0px 15px;
  align-items: center;
}
/* .tax_rate_list_in_taxgroup {
  display: flex;
  width: 100%;
  gap: 10px 10px;
} */
.tax_rate_list_in_taxgroup p {
  margin: 0px;
  color: gray;
  font-size: 14px;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.tax_rate_list_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 155px);
  overflow-y: auto;
}
/* Works on Firefox */
.tax_rate_list_section {
  scrollbar-width: thin;
  scrollbar-color: #d6dee1 #fff;
}
/* Works on Chrome, Edge, and Safari */
.tax_rate_list_section::-webkit-scrollbar {
  width: 8px;
}

.tax_rate_list_section::-webkit-scrollbar-track {
  background: #fff;
  opacity: 0.8;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  border: none;
}
.tax_rate_list_section::-webkit-scrollbar-thumb {
  background: #d6dee1;
  border: 1px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}

.tax_rate_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0px 15px;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid gray;
}
.tax_rate_list:last-child {
  border-bottom: none;
}
.tax_name p {
  font-size: 14px;
  color: gray;
  font-weight: normal;
  margin: 0px;
}
.tax_price_box {
  display: flex;
  gap: 0px 10px;
}
.tax_price_box i {
  cursor: pointer;
}

/* tax_section_screen end */

/* taxrate modal start */
.tax_modal_container {
  max-width: 300px !important;
}
.tax_form_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px 0px;
}
.tax_form_fields {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px 0px;
}
.tax_form_fields label {
  font-size: 16px;
  color: #242424;
  font-weight: normal;
  text-transform: capitalize;
}
.tax_form_fields input {
  padding: 4px;
  font-size: 14px;
  color: gray;
}
.tax_form_fields select {
  padding: 4px;
  font-size: 14px;
  color: gray;
  text-transform: uppercase;
  background: #fff;
  border: 2px solid gray;
  cursor: pointer;
}
.tax_form_fields select option {
  text-transform: uppercase;
  cursor: pointer;
}

.delete_tax_rate_query {
  margin: 0px;
  text-transform: capitalize;
  color: gray;
  font-size: 14px;
}
.create_tax_rate_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px 0px;
  height: 100px;
  overflow: auto;
}
/* Works on Firefox */
.create_tax_rate_section {
  scrollbar-width: thin;
  scrollbar-color: #d6dee1 #fff;
}
/* Works on Chrome, Edge, and Safari */
.create_tax_rate_section::-webkit-scrollbar {
  width: 8px;
}

.create_tax_rate_section::-webkit-scrollbar-track {
  background: #fff;
  opacity: 0.8;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  border: none;
}
.create_tax_rate_section::-webkit-scrollbar-thumb {
  background: #d6dee1;
  border: 1px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}

.create_tax_rate_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0px 15px;
  align-items: center;
}
/* .create_tax_rate_list:last-child {
  padding-bottom: 15px;
} */
/* taxrate modal end */

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*mobile rotation*/
@media (max-width: 767px) {
}

/*mobile*/
@media (max-width: 540px) {
  .tax_section {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
  .tax_rate_list_section {
    height: calc(100vh - 500px);
  }
}
